*
hypr/hyprland.conf

!README.md
!/fcitx5/**
!/fcitx5/
!/nvim/**
!/nvim/
!.gitignore
!/Code/User/settings.json
!/Code/User/keybindings.json
!/Code/User/
!/Code/
!/hypr/
!/hypr/*
!/waybar/
!/waybar/*
!/zed/
!/zed/**
!/kitty/
!/kitty/**
!/ghostty/
!/ghostty/**
!/zellij/
!/zellij/**
!/fuzzel/
!/fuzzel/**
!/niri/
!/niri/**
!/swaylock/
!/swaylock/**
