*

!README.md
!/fcitx5/**
!/fcitx5/
!/nvim/**
!/nvim/
!.gitignore
!/goldendict/
!/goldendict/**
!/Code/User/settings.json
!/Code/User/keybindings.json
!/Code/User/
!/Code/
!/hypr/
!/hypr/*
!/waybar/
!/waybar/*
!/zed/
!/zed/**
